@media only screen and (min-width: 768px) {
    .hide {
        display: none;
    }

    .show {
        display: block !important;
    }

    .modal-wrapper {
        z-index: 999;
        position: absolute;
        top: calc((100vh - 600px)/2);
        left: calc((100vw - 600px)/2);
    }

    .modal {
        display: none;
        position: relative;
        width: 600px;
        min-height: 300px;
        padding: 20px 15px;
        background: #EEEEEE;
        color: #000000;
        text-align: center;
    }
    .modal .close-modal {
        position: absolute;
        top: 20px;
        right: 15px;
        cursor: pointer;
    }
    .modal h1 {
        font-size: 56px;
        margin: 35px 0;
    }
    .modal .entry-content p {
        font-size: 16px;
    }
}
