.close-modal {
    display: none;
}

@media only screen and (min-width: 768px) {

    .modal-wrapper {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    }

    .modal-wrapper.show {
        display: block;
    }

    .modal {
        display: none;
        position: relative;
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 70%; /* Could be more or less, depending on screen size */
        transition: all 2s ease;
        opacity: 0;
    }

    .modal.show {
        display: block;
        opacity: 1;
    }

    .modal .close-modal {
        position: absolute;
        top: 20px;
        right: 15px;
        cursor: pointer;
    }

    .modal.show .close-modal {
        display: block;
    }

    .modal h1 {
        font-size: 56px;
        margin: 35px 0;
    }

    .modal .entry-content p {
        font-size: 16px;
    }

    .modal .loading {
        width: 100px;
        margin-top: 20px;
    }
}
