@media only screen and (min-width: 768px) {
    .modal-wrapper {
        z-index: 999;
        position: absolute;
        top: 0;
        left: calc((100vw - 600px) / 2);
        transition: all 2s ease;
        overflow: hidden;
    }

    .modal-wrapper.show {
        top: calc((100vh - 600px) / 2);
    }

    .modal {
        display: none;
        position: relative;
        width: 600px;
        padding: 20px 15px;
        background: #EEEEEE;
        color: #000000;
        text-align: center;
        transition: all 2s ease;
        max-height: 200px;
    }

    .modal.show {
        display: block;
        max-height: 100000px;
    }

    .modal .close-modal {
        position: absolute;
        top: 20px;
        right: 15px;
        cursor: pointer;
    }

    .modal h1 {
        font-size: 56px;
        margin: 35px 0;
    }

    .modal .entry-content p {
        font-size: 16px;
    }

    .modal .loading {
        width: 100px;
        margin-top: 20px;
    }
}
